body, html {
    height: 100%;
    width: 380px; 
    padding: 0;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0; 
}

.content {
    flex: 1;
    padding-top: 20px;
    padding-bottom: 50px;
}

.bottom-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f8f9fa;
    border-top: 1px solid #333;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-primary .bi {
    color: black;
}

button.custom-btn {
    margin: 1px;
    background-color: transparent;
    border-color: transparent;
}

button.custom-btn:hover {
    background-color: grey;
    border-color: transparent;
    color: white;
}

.img-margin-right {
    margin-right: 7px;
}

.icon {
    width: 30px;
    height: 30px;
}

.bi {
    color: black;
}

.info-container {
    width: 250px; 
    height: 50px; 
    overflow: hidden; 
    flex-shrink: 1;  /* Allow the container to shrink if needed */
}

.info-container h6,
.info-container p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.button-container {
    display: flex;
    align-items: center;
    gap: 3px; 
    margin-left: auto;
    margin-right: 1px;  /* Add a bit of margin to the right */
    flex-shrink: 0;  /* Ensure the button container does not shrink */
}

.list-group-item {
    justify-content: space-between;
}

.custom-form-group {
    width: 70%;  
    margin: 0 auto; 
}
