body, html {
    height: 100%;
    width: 380px; 
    padding: 0;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0; 
}

.content {
    flex: 1;
    padding-top: 20px;
    padding-bottom: 50px;
}

.bottom-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f8f9fa;
    border-top: 1px solid #333;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.icon {
    width: 30px;
    height: 30px;
}

.bi {
    color: black;
}

.btn-primary .bi {
    color: black;
}

.custom-form-group {
    width: 70%;  
    margin: 0 auto; 
}
